# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# PyInstaller build artifacts
build/
dist/
*.spec

# User / Local data persistence (opcional si no quieres subir tu projects.json local)
projects.json

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace