# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# PyInstaller build artifacts
build/
dist/
*.spec

# User /Local data persistence (optional if you don't want to upload your local save.json)
save.json

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace